[flake8]
# E123,E133,E226,E241,E242 are ignored by default by pep8 and flake8
# F401 is legal in odoo __init__.py files
# F999 pylint support this case with expected tests
ignore = E123,E133,E226,E241,E242,F401,F601

# Agregado por jobiols
ignore = E101,E111,E114,E115,E116,E117,E12,E13,E2,E3,E401,E5,E70,W1,W2,W3,W5

max-line-length = 88
exclude = __unported__,examples
filename = __init__.py
